# Dependencies
node_modules

# Production output / build
dist/
build/

# Environment variables & secrets (keep .env.example)
.env
.env.local
.env.production
.env.development
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/

# Testing & Coverage
coverage/

# OS metadata
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# TypeScript build cache
*.tsbuildinfo

.vercel
